:root {
    --very-dark-blue: #020659;
    --darker-blue: #020873;
    --dark-blue: #030A8C;
    --royal-blue: #2104D9;
    --blue: #0D8DFB;
    --light-blue: #2699FB;
    --maroon: #590242;
    --white: #ffffff;

    --fonts: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
}
html {
    background-color: var(--very-dark-blue);
}
body {
    font-family: var(--fonts);
    margin: 0 auto;
    background-color: var(--white);
    width: 375px;
    color: var(--white);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.125fr 0.125fr 7fr 0.0625fr;
}
header {
    background: linear-gradient(to right,#2104D9,black);
    padding: 15px 25px;
    position: relative;
}
nav {
    background-color: var(--dark-blue);
    grid-row: 1/2;
}
h1, h2, h3 {
    text-transform: uppercase;
}
nav h2 {
    font-size: 0px;
}
ul {
    list-style: none;
    margin: 0 auto;
    text-align: center;
}
li {
    text-transform: uppercase;
}
#logo {
    text-transform: none;
    font-variant: small-caps;
    font-size: 1.75em;
    font-weight: bold;
    position: absolute;
    left: 280px;
    top: 35px;

}
ul a:hover {
    background-color: var(--maroon);
}
a {
    text-decoration: none;
    color: var(--white)
}
h1 {
    font-size: 1.25em;
}
h2, h3 {
    font-size: 1em;
}
h2 {
    color: var(--maroon);
    margin-left: 25px;
    margin-top: 25px;
}
p, dl, dd {
    font-size: 1em;
}
footer {
    font-size: 0.75em;
    color: var(--maroon);
    background-color: var(--white);
    text-align: center;
    padding: 15px;
}
#button1, #button2, #button3 {
    background-color: var(--maroon);
    text-align: center;
    width: 150px;
    padding: 10px;
    border-radius: 4px;
    margin-left: 25px;
    margin-bottom: 25px;
    margin-top: 10px;
}
#button1:hover {
    background-color: var(--very-dark-blue); 
}
#button2:hover {
    background-color: var(--very-dark-blue); 
}
#button3:hover {
    background-color: var(--very-dark-blue); 
}
#trending section {
    color: var(--maroon);
    margin: 10px;
    position: relative;
}
#trending {
    width: 375px;
    height: 350px;
    overflow-y: scroll;
    overflow-x: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 15px;
}
#trending section div {
    position: absolute;
    background-color: rgba(211, 211, 211, 0.8);
    width: 296px;
    z-index: 1;
    top: 225px;
    padding-left: 15px;
}

audio {
    position: relative;
    bottom: 220px;
    left: 5px;
}
#playlists section {
    background-color: var(--blue);
    margin: 10px;
    text-align: center;
    padding: 10px;
}
#playlists {
    width: 375px;
    overflow: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: var(--light-blue);
    margin-bottom: 15px;
}
#curated section {
    background-color: var(--darker-blue);
    margin: 10px;
    text-align: center;
    padding: 10px;
}
#curated {
    width: 375px;
    overflow: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: var(--dark-blue);
    margin-bottom: 15px;
}
@media screen and (min-width:834px){
    body {
        width: 834px;
    }
    #trending {
        width: 834px;
    }
    #playlists {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        width: 417px;
        height: 600px;
    }
    #curated {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        width: 417px;
        height: 600px;
    }
    #extra {
        display: flex;
        margin-top: 50px;
    }
    #button1, #button2, #button3 {
        float: right;
        margin-right: 25px;
    }
    #logo {
        position: relative;
        left: 0px;
        top: 0px;
    }
    ul {
        margin: 25px auto;
        display: flex;
        align-items: center;
        width: 834px;
    }
    #playlists section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.25fr 1fr;
    }
    #playlists section img {
        grid-column: 1/2;
        grid-row: 1/3;
    }
    #playlists section h3 {
        grid-column: 2/4;
        grid-row: 1/2;
    }
    #playlists section p {
        grid-column: 2/4;
        grid-row: 2/3;
    }
    #curated section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.25fr 1fr;
    }
    #curated section img {
        grid-column: 1/2;
        grid-row: 1/3;
    }
    #curated section h3 {
        grid-column: 2/4;
        grid-row: 1/2;
    }
    #curated section p {
        grid-column: 2/4;
        grid-row: 2/3;
    }
    
}
/*pasted content*/
ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}
label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}

@media screen and (min-width:834px) {
    ul {
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    label span, input {
        display: none;
    }
}
#trending ::-webkit-scrollbar {
    width: 15px;
}
#trending ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px #590242;
}
#trending ::-webkit-scrollbar-thumb {
    background: #590242;
    border-radius: 5px;
}
#trending ::-webkit-scrollbar-thumb:hover {
    background: #020659;
}
#playlists ::-webkit-scrollbar, #curated ::-webkit-scrollbar {
    width: 15px;
}
#playlists ::-webkit-scrollbar-track, #curated ::-webkit-scrollbar-track  {
    box-shadow: inset 0 0 15px #020659;
}
#playlists ::-webkit-scrollbar-thumb, #curated ::-webkit-scrollbar-thumb {
    background: #020659;
    border-radius: 5px;
}
#playlists ::-webkit-scrollbar-thumb:hover, #curated ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}
audio::-webkit-media-controls-mute-button {
    background-color: var(--white);
    border-radius: 50%;
}
audio::-webkit-media-controls-play-button {
    background-color: var(--white);
    border-radius: 50%;
}
audio::-webkit-media-controls-enclosure {
    background-color: rgba(255, 255, 255, 0.5);
}